# rust output
/target
**/*.rs.bk
/Cargo.lock

# output files
*.out
*.log
*.log.gz
/flamegraph*
/perf*

# private files
src/bin/*/input*.txt
src/bin/*/provided*.txt

# private keys
/keys/

# core dumps
/*core*
/*.out.*

# editors
/.vscode/

# input files
/input

# temporary files
/download
